
.bsc-orange {color: #f3b74f;}
.bsc-copy {color:rgb(121, 92, 28);}


.solana-copy {color: rgb(180, 96, 180);}


.sol {
    background: #4B91BB;
    background: -webkit-linear-gradient(bottom, #4B91BB, #CC46A7);
    background: -moz-linear-gradient(bottom, #4B91BB, #CC46A7);
    background: linear-gradient(to top, #4B91BB, #CC46A7);
}


// Sticky footer
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
}

.header {
    flex-shrink: 0;
  }

