---
title: pipana
layout: layouts/default.njk
---

{% include "_header.njk" %}

<article class="athelas">
<div class="vh-100 dt w-100 tc bg-yellow white">
<div class="dtc v-mid">

{% include "_bsc_hero.njk" %}

</div>
</div>
</article>
  

  
<article class="vh-100 dt w-100 bg-light-blue">
  <div class="dtc v-mid tc white ph3 ph4-l">
    <div class="mw9 center">
    
    <div class="db dtc-ns v-mid-ns">
      <img src="/images/pancakeswap-logo.png" class="h4 w4" alt="avatar">
    </div>
    <div class="db dtc-ns v-mid ph4 pr0-ns pl3-ns">
      <p class="lh-copy bsc-copy">
        1000 $pip have been minted on the Binance Smart Chain.
      </p>
    </div>

    </div>
  </div>
</article>
