---
title: pipana
layout: layouts/default.njk
---


<div class="mw7 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-50-ns pa2">
      <div class="pv4">
              <img src="/img/pipana-transparent.png" alt="A bright blue sky" class="w-100 mw7 w5-ns animate__animated animate__pulse animate__infinite infinite animate__slow" />
      </div>
    </div>
    <div class="fl w-100 w-50-ns pa2 db dtc-ns v-mid">
      <div class="pv4 ">
        <p class="lh-copy black">
        For desktop, this text is vertically aligned middle, no matter what the height of the image is.
        On mobile, this is a paragraph below an image.
      </p>
      </div>
    </div>
  </div>
</div>



<div class="flex items-center justify-center bb b--white-20 mw6">
    <a href="/solana" class="f5 no-underline black ba bg-animate hover-bg-black hover-white inline-flex items-center pa3 border-box mr4">
        <span class="w3 {{ 'animate__animated animate__bounce' if '/solana/' in page.url }}">
          <img src="/images/pancakeswap-logo.png" class="br2 pa1 ba b--white-50 bg-blue" alt="avatar">
        </span>
      <span class="pl4">PancakeSwap Buy</span>
    </a>
</div>

<img src="/images/pancakeswap-logo.png">
pancake swap
buy add lp


<div class="dt mw6 center pt0 pb5 pv5-m pv6-ns">
    <div class="db dtc-ns v-mid-ns">
      <img src="/img/pipana-transparent.png" alt="A bright blue sky" class="w-100 mw7 w5-ns animate__animated animate__pulse animate__infinite infinite animate__slow" />
    </div>
    <div class="db dtc-ns v-mid ph4 pr0-ns pl3-ns">
      <p class="lh-copy">
        For desktop, this text is  aligned middle, no matter what the height of the image is.
        On mobile, this is a paragraph below an image.
      </p>
    </div>
  </div>
