---
title: pipana intensifies
layout: layouts/stark.njk
permalink: /solana/pipana-intensifies/
---

<article class="athelas">
  <div class="vh-100 dt w-100 tc bg-black white cover">
    <div class="dtc v-mid">
      <span class="white fw1 f7 white courier">pipana intensifies</span><br>
      <img class="h3 w3" src="/images/pipana-intensifies.gif">
      <span class="white fw1 f7 white courier">thank you! talk to you soon.</span><br>
    </div>
  </div>
</article>