---
title: pipana intensifies
layout: layouts/stark.njk
permalink: /pipana-liquidity-providers/
---

<article class="athelas sol cover" id="liq-form">
  <div class="vh-100 dt w-100 tc">
    <div class="dtc v-mid">
      <div class="mw6 center ph4">
        <div><img
      src="/img/pipana.jpg"
      class="br-100 pa1 ba b--black-10 h3 w3 bg-white animate__animated animate__pulse animate__slow" alt="avatar">
          <h1 class="animate__animated animate__bounce animate__slow"> $pipana liquidity</h1>
          <span class="scrollTo pink ba pa2 br2" data-target="tokenomics">See Tokenomics</span>
          <input 
            id="solana-address"
            class="f5 fw1 f5-l mb3 input-reset bn bg-light-purple purple b pa3 lh-solid w-100 w-75-m w-80-l  br2-ns br--left-ns" 
            placeholder="Name" 
            type="text">
            <input 
            id="solana-address"
            class="f5 fw1 f5-l mb3 input-reset bn bg-light-purple white pa3 lh-solid w-100 w-75-m w-80-l  br2-ns br--left-ns" 
            placeholder="Email" 
            type="text">
            <input 
            id="solana-address"
            class="f5 fw1 f5-l mb3 input-reset bn bg-light-purple white pa3 lh-solid w-100 w-75-m w-80-l  br2-ns br--left-ns" 
            placeholder="Solana Address" 
            type="text">
            <input 
            id="solana-address"
            class="f5 fw1 f5-l mb3 input-reset bn bg-light-purple white pa3 lh-solid w-100 w-75-m w-80-l  br2-ns br--left-ns" 
            placeholder="Twitter " 
            type="text">
            <input 
            id="solana-address"
            class="f5 fw1 f5-l mb3 input-reset bn bg-light-purple white pa3 lh-solid w-100 w-75-m w-80-l  br2-ns br--left-ns" 
            placeholder="Telegram" 
            type="text">
          <button 
            class="btn f5 fw1 f5-l button-reset pv3 tc bn bg-animate bg-purple hover-bg-light-blue white pointer w-100 w-25-m w-20-l dim" 
            data-clipboard-action="copy"
            data-clipboard-target="#solana-address"
            value="Copy">Send</button>
          </div>
      </div>
    </div>
  </div>
</article>

<article id="pip" class="athelas">
  <div class="vh-100 dt w-100 tc bg-black white cover">
    <div class="dtc v-mid">
      <span class="white fw1 f7 white courier">pipana intensifies</span><br>
      <img class="h3 w3" src="/images/pipana-intensifies.gif">
    </div>
  </div>
</article>



<article id="tokenomics" class="athelas">
  <div class="vh-100 dt w-100 tc bg-white black cover">
    <div class="dtc v-mid">
      <article class="pa3 pa5-ns">
  <h1 class="f3 f1-m f-headline-l">Tokenomics</h1>
  <div class="f4">
  <p class="measure lh-copy">
    1000 have been minted and there will be no inflation or deflation. 
  </p>
  <p class="measure lh-copy">
    We'd like to Airdrop 15-25% of the total supply to COPE and gCOPE holders. We are open to other token holders. This percentage of the total supply can be adjusted more dramitaclly if LP size requires it.
  </p>
  <p class="measure lh-copy">
    Airdrop recipients will likely recieve no more that 0.025 $pipana. 0.0025 would be even better, but that might be over-reaching.
  </p>
  <p class="measure lh-copy">
    As an example we might set the initial market price at 0.025PIPANA = 50USD.
  </p>
  <p class="measure lh-copy">
    We'll see what size pool we can launch with to determine the best options for price and sum to aridrop.
  </p>
  <p class="measure lh-copy">
    It's important to hear your thoughts. Please write us a note in the <span class="scrollTo blue" data-target="liq-form">liq-form</span>.
  </p>
  <p class="measure lh-copy">We are offering rewards to willing providers. Rewards will come in the form of $pipana and by extention, $grande. A yet to be determined schedule and rates can be be discussed.</p>

</div>

  
</article>
      
    </div>
  </div>
</article>