<header>

<div class="flex items-center justify-center bb b--white-20">
    {# Solana #}
    <a href="/solana" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 border-box mr4">
        <span class="w3 {{ 'animate__animated animate__bounce' if '/solana/' in page.url }}">
          <img src="/images/solana-logo.png" class="br-100 pa1 ba b--black-10 bg-black" alt="avatar">
        </span>
      <span class="pl4 sans-serif ttu black-40{{ 'white' if '/solana/' in page.url }}">Solana</span>
    </a>
    {# Binance Smart Chain #}
    <a href="/bsc" class="f5 no-underline black bg-animate hover-bg-black hover-white inline-flex items-center pa3 border-box mr4">
      <span class="w3 {{ 'animate__animated animate__bounce' if '/bsc/' in page.url }}">
        <img src="/images/bsc-logo.png" class="br-100 pa1 ba b--black-10" alt="avatar">
      </span>
    <span class="pl4 sans-serif {{ 'gold' if '/bsc/' in page.url }}">BSC</span>
  </a>
</div>

<div class="tc pv4 avenir">
  <a class="link" href="/"><h1 class="fw4 {{ 'bsc-copy' if '/bsc/' in page.url }}{{ 'solana-copy' if '/solana/' in page.url }}">{{ '$pip' if '/bsc/' in page.url }}{{ '$pipana' if '/solana' in page.url }}</h1></a>
  <h2 class="{{ 'bsc-copy' if '/bsc/' in page.url }} mt2 mb0 f6 fw4 tracked animate__animated animate__fadeInUp">{{ 'on the Binance Smart Chain' if '/bsc/' in page.url }}{{ 'on Solana' if '/solana/' in page.url }}</h2>
</div>
  
</header>

