<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    {{ site.title }}
  </title>
  <meta name="author" content='{{ site.author.name }}'>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@itspipana" />
    <meta name="twitter:creator" content="@itspipana" />
    <meta property="og:url" content="https://pip.monster/solana" />
    <meta property="og:title" content="pipana on Solana" />
    <meta property="og:description" content="Roadmap up. Airdrop and DEX around the corner." />
    <meta property="og:image" content="https://pip.monster/img/pipana.jpg" />


  <link rel="stylesheet" href="{{ '/css/tachyons.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/custom.css' | url }}">
	<link rel="stylesheet" href="{{ '/assets/css/sticky-footer.css' | url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>

