<h1 class="white ttu fw1 f3 sans-serif">ROADMAP</h1>

<ul class="list pl0 sans-serif">
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">Mint on Solana</b>
    <span class="f5 db lh-copy measure">
      Minting 1000 tokens with revoked mint authority</span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">Airdrop Sign-up</b>
    <span class="f5 db lh-copy measure">
      Dropping .0025 $pipana to Cope holders</span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Tokenomics
    </b>
    <span class="f5 db lh-copy measure">
      Serum dex. pipana trading pairs along with a curated list of other solana projects.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      pipdex
    </b>
    <span class="f5 db lh-copy measure">
      Serum dex. pipana trading pairs along with a curated list of other solana projects.
    </span>
  </li>
    <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Staking Pools
    </b>
    <span class="f5 db lh-copy measure">
      staked lp earns pipana. Raydium form bla bla bla bla
    </span>
  </li>
  </li>
    <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      pipana grande
    </b>
    <span class="f5 db lh-copy measure">
      drop of $grande to all $pipana holders. pipana grande will melt faces for reasons bla bla bla
    </span>
  </li>
</ul>