<article id="pipana-airdrop" class="pa4 black-80">
  <h1 class="white ttu fw1 f3 sans-serif">Pipana Airdrop</h1>
  <form name="pipana-airdrop" netlify>
    <div class="mt3">
      <input 
        class="fw1 f4 pa2 input-reset ba bg-purple white w-100 measure" 
        type="text" 
        name="name"
        placeholder="Name"
      >
    </div>
    <div class="mt3">
      <input 
        class="fw1 f4 pa2 input-reset ba bg-purple white w-100 measure" type="text" 
        name="sol-address"
        placeholder="Solana Address"
      >
    </div>
    <div class="mt3">
      <input 
        class="ph3 f4 pv2 input-reset ba b--white white bg-transparent grow pointer" 
        type="submit" 
        value="Sign Up"
      >
    </div>
  </form>
</article>