<article class="pa4 black-80">
  <form name="solana-liquidity-app" action="sign-up_submit" method="POST" accept-charset="utf-8" data-netlify="true">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="ph0 mh0 fw6 clip white">Sign Up</legend>
      <div class="mt3">
        <label class="db fw4 lh-copy f6 white" for="email-address">Email address</label>
        <input class="white b--white pa2 input-reset ba bg-transparent w-100 measure" type="email" name="email-address"  id="email-address">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6 white" for="email-address">Solana Wallet Address</label>
        <input class="white b--white pa2 input-reset ba bg-transparent w-100 measure" type="email" name="solana-wallet-address"  id="solana-wallet-address">
      </div>
      <div class="mt3">
        <label class="db fw4 lh-copy f6 white" for="password">Password</label>
        <input class="white b--white b pa2 input-reset ba bg-transparent" type="password" name="password"  id="password">
      </div>
    </fieldset>
    <div class="mt3"><input class="white b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Sign Up"></div>
  </form>
</article>
