<div class="dt mw7 mw9-l center pt0 pb5 pv5-m pv6-ns ph3">
    <div class="db dtc-ns v-mid-ns">
      <img onclick="playAudio()" src="/img/pipana-transparent.png" alt="A bright blue sky" class="w-100 mw7 w5-ns animate__animated animate__pulse animate__slow" />
    </div>
    <div class="db dtc-ns v-mid ph4 pr0-ns pl3-ns">
      <p class="lh-copy white fw1 f3 f2-ns f2-l tc">
        1000 total supply
      </p>
    </div>
  </div>
