

<article class="vh-100 dt bg-black">
  <div class="dtc v-mid tc white ph3 ph4-l">
  
  <ul class="list pl0 sans-serif">
  <li class="pa3 pa4-ns bb b--black-10 white-30">
    <img src="/images/check-mark.png" class="h1 w1 fr">
    <b class="db f3 mb1">Mint on Solana</b>
    
    <span class="f5 db lh-copy measure">
      Minting 1000 tokens with revoked mint authority</span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      pipdex
    </b>
    <span class="f5 db lh-copy measure">
      Our own DEX with a pipana trading pair, and a curated list of other good solana projects.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">Airdrop</b>
    <span class="f5 db lh-copy measure">
      15% of the total supply.  0.025 $pipana each to a select many</span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Tokenomics
    </b>
    <span class="f5 db lh-copy measure">
      Staked liquidity, timelocks, rewards, and more
    </span>
  </li>
    <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Staking Pools Launch
    </b>
    <span class="f5 db lh-copy measure">
      Staked LP tokens earns pipana
    </span>
  </li>
  </li>
    <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      pipana grande
    </b>
    <span class="f5 db lh-copy measure">
      pipana $grande will be fully formed, having been in part, distributed to pipana holders over the course of time.
    </span>
  </li>
</ul>
  </div>
</article>


<article class="vh-100 dt w7 bg-black bt bb b--white-10">
  <div class="dtc v-mid white ph3 ph4-l">
    <div class="mw9 center">
    <h1 class="ttu fw1 f4 sans-serif white-50">Roadmap</h1>

<ul class="list pl0 sans-serif">
  <li class="pa3 pa4-ns bb b--black-10 white-30">
    <b class="db f3 mb1">Mint on Solana</b>
    <img src="/images/check-mark.png" class="h1 w1 fr">
    <span class="f5 db lh-copy measure">
      Minting 1000 tokens with revoked mint authority</span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      pipdex
    </b>
    <span class="f5 db lh-copy measure">
      Our own DEX with a pipana trading pair, and a curated list of other good solana projects.
    </span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">Airdrop</b>
    <span class="f5 db lh-copy measure">
      15% of the total supply.  0.025 $pipana each to a select many</span>
  </li>
  <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Tokenomics
    </b>
    <span class="f5 db lh-copy measure">
      Staked liquidity, timelocks, rewards, and more
    </span>
  </li>
    <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      Staking Pools Launch
    </b>
    <span class="f5 db lh-copy measure">
      Staked LP tokens earns pipana
    </span>
  </li>
  </li>
    <li class="pa3 pa4-ns bb b--black-10">
    <b class="db f3 mb1">
      pipana grande
    </b>
    <span class="f5 db lh-copy measure">
      pipana $grande will be fully formed, having been in part, distributed to pipana holders over the course of time.
    </span>
  </li>
</ul>
  </div>
  </div>
</article>

