

<article class="athelas" id="liq-form">
  <div class="vh-100 dt w-100 tc bg-black white">
    <div class="dtc v-mid">


      <div class="mw7 center ph3-ns">
            <h1 class="ttu tracked fw1 f4 sans-serif white-50">Liquidity Providers</h1>
            <p></p>

<article class="pa4 black-80">
  <form name="solana-liquidity-app" action="/solana/pipana-intensifies/" method="POST" accept-charset="utf-8" data-netlify="true">
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <div class="mt3">
        <input class="f5 fw1 f5-l input-reset bn  black b pa3 lh-solid w-100  br2-ns br--left-ns" type="email" name="email-address"  id="email-address" placeholder="Email Address">
      </div>
      <div class="mt3">
        <input class="f5 fw1 f5-l input-reset bn  black b pa3 lh-solid w-100  br2-ns br--left-ns" type="text" name="solana-wallet-address"  id="solana-wallet-address" placeholder="Solana Wallet Address">
      </div>
      <div class="mt3">
        <input class="f5 fw1 f5-l input-reset bn  black b pa3 lh-solid w-100  br2-ns br--left-ns" type="text" name="twitter-handle"  id="twitter-handle" placeholder="Twitter Handle">
      </div>
      <div class="mt3">
        <input class="f5 fw1 f5-l input-reset bn  black b pa3 lh-solid w-100  br2-ns br--left-ns" type="text" name="telegram-handle"  id="telegram-handle" placeholder="Telegram Handle">
      </div>
      <div class="mt3">
        <textarea name="message" class="f5 fw1 f5-l input-reset bn  black b pa3 lh-solid w-100  br2-ns br--left-ns" placeholder="Message / Notes / Questions"></textarea>
      </div>
    </fieldset>
    <div class="mt3"><input class="white b ph4 pv3 input-reset ba b--black bg-purple grow pointer f6" type="submit" value="Submit"></div>
  </form>
</article>


</div>
</div>
</div>
</article>