<!DOCTYPE html>
<html lang="en">
  {% include "_head.njk" %}

<body class="{{ 'bg-black white' if '/solana/' in page.url }}{{ 'bg-yellow white' if '/bsc/' in page.url }}">
  <!-- .content class on the div is for the Sticky Footer  -->
  <div class="content">
  {% include "_header.njk" %}
  
  {{ content | safe }}

  </div>
  {% include "_footer.njk" %}
  {% include "_google_analytics.njk" %}

</body>
</html>
