<!DOCTYPE html>
<html lang="en">
  {% include "_head.njk" %}

<body class="{{ 'bg-black white' if '/solana/' in page.url }}{{ 'bg-yellow white' if '/bsc/' in page.url }}">
  <!-- .content class on the div is for the Sticky Footer  -->
  <div class="content">
  
  {{ content | safe }}

  </div>
    <script>
var x = document.getElementById("myAudio"); 

function playAudio() { 
  x.play(); 
} 

function pauseAudio() { 
  x.pause(); 
} 
</script>

<script>
  const links = document.querySelectorAll('.scrollTo');
for(let i of links){
    const elem = i.getAttribute("data-target");
    if (elem !== '') {
        i.addEventListener("click", handleButtonClick);
    }
}
function handleButtonClick(e) {
    const id = e.target.getAttribute("data-target");
	console.log(id)
    if(id){
        document.getElementById(id).scrollIntoView({ block: "center", behavior: "smooth" });
    }
}
</script>

</body>
</html>
